## Operações com Pandas

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'col1': [1,2,3,4],
    'col2': [555,611,555,888],
    'col3': ['abc','def','ghi','yxz']
})
df.head()

   col1  col2 col3
0     1   555  abc
1     2   611  def
2     3   555  ghi
3     4   888  yxz

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      int64
 2   col3    4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [8]:
df.memory_usage()

Index    132
col1      32
col2      32
col3      32
dtype: int64

In [9]:
# função que mostra a lista de valores únicos
df['col2'].unique()

array([555, 611, 888], dtype=int64)

In [10]:
# se eu quiser saber a quantidade de valors únicos

df['col2'].nunique()

3

In [11]:
# fazer a contagem de valores

df['col2'].value_counts()

col2
555    2
611    1
888    1
Name: count, dtype: int64

# aplicando funções

In [12]:
def Comp(x):
    return x ** 2 +3

In [13]:
df['col2'].apply(Comp)

0    308028
1    373324
2    308028
3    788547
Name: col2, dtype: int64

In [14]:
# se eu quiser criar uma coluna incluindo estes valores

df['col4'] = df['col2'].apply(Comp)

In [15]:
df

   col1  col2 col3    col4
0     1   555  abc  308028
1     2   611  def  373324
2     3   555  ghi  308028
3     4   888  yxz  788547

In [16]:
df['col1'].product()

24

In [17]:
df['col1'].std()

1.2909944487358056

In [18]:
df['col1'].idxmax()

3

In [20]:
df[df['col2'] == 555]

   col1  col2 col3    col4
0     1   555  abc  308028
2     3   555  ghi  308028