## Serie Temporal

In [2]:
'''
Serie temporal é um conjunto de dados (DataFrame) onde cada linha representa um momento diferente no tempo
'''
import pandas as pd

In [40]:
numero_de_dias = 1000

In [41]:
datas = pd.date_range(start='1/1/2021', periods=numero_de_dias)

In [42]:
datas

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2023-09-18', '2023-09-19', '2023-09-20', '2023-09-21',
               '2023-09-22', '2023-09-23', '2023-09-24', '2023-09-25',
               '2023-09-26', '2023-09-27'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [43]:
# Agora vamos usar as datas para preencher o indice de um dataframe
df = pd.DataFrame(range(numero_de_dias), columns=["number"], index=datas)

In [44]:
df

            number
2021-01-01       0
2021-01-02       1
2021-01-03       2
2021-01-04       3
2021-01-05       4
...            ...
2023-09-23     995
2023-09-24     996
2023-09-25     997
2023-09-26     998
2023-09-27     999

[1000 rows x 1 columns]

In [45]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2023-09-18', '2023-09-19', '2023-09-20', '2023-09-21',
               '2023-09-22', '2023-09-23', '2023-09-24', '2023-09-25',
               '2023-09-26', '2023-09-27'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [46]:
df.index[0]

Timestamp('2021-01-01 00:00:00')

In [47]:
df.index[0].day

1

In [48]:
df.index[0].month

1

In [49]:
df.index[0].year

2021

In [50]:
df.index[90].year

2021

In [51]:
# Filtrar apenas os indices do mes de abril
df_abril = df[df.index.month == 4]
df_abril

            number
2021-04-01      90
2021-04-02      91
2021-04-03      92
2021-04-04      93
2021-04-05      94
...            ...
2023-04-26     845
2023-04-27     846
2023-04-28     847
2023-04-29     848
2023-04-30     849

[90 rows x 1 columns]

In [52]:
import datetime

df.reset_index()

         index  number
0   2021-01-01       0
1   2021-01-02       1
2   2021-01-03       2
3   2021-01-04       3
4   2021-01-05       4
..         ...     ...
995 2023-09-23     995
996 2023-09-24     996
997 2023-09-25     997
998 2023-09-26     998
999 2023-09-27     999

[1000 rows x 2 columns]

In [58]:
# filtrar para mostrar apenas a partir de uma data específica

df_maio_2021_superior = df[(df.index > datetime.datetime(2021, 5, 1)) & (df.index <= datetime.datetime(2022, 3, 25))]
df_maio_2021_superior

            number
2021-05-02     121
2021-05-03     122
2021-05-04     123
2021-05-05     124
2021-05-06     125
...            ...
2022-03-21     444
2022-03-22     445
2022-03-23     446
2022-03-24     447
2022-03-25     448

[328 rows x 1 columns]